body{
    padding: 0;
    margin: 0;
}


.footer {
    width: 100%;
    background-color: #00262b;
    color: white;
    font-family: Arial, sans-serif;
}

.footer-top {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.contact-info h4,
.social-media h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
    color: #9ca6af;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.social-media a img {
    width: 40px;

}

.download-btn {
    background-color: #ff007f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #e6006e;
}

.footer-bottom h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
}

.footer-columns ul li {
    margin-bottom: 10px;
    color: #9ca6af;
}

/* Responsive Design */
@media (max-width: 768px) {

    .footer-top,
    .footer-columns {

        text-align: center;
    }

    .footer-columns ul {
        margin-bottom: 20px;
    }

    .social-media {
        text-align: center;
    }
}