body {
  font-family: "Inter", sans-serif;
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.slider {
  width: 1300px;
  max-width: 100%;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}
.list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f8ff;
  color: #0a58ca;
  border: 2px solid royalblue;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(10, 88, 202, 0.3);
}

.buttons button:hover {
  background-color: #0a58ca;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(10, 88, 202, 0.4);
}
.buttons button:active {
  transform: scale(2.95);
}

.dots {
  position: absolute;
  bottom: 10px;
  color: #f0f8ff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: 1s;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
}
.dots li.active {
  width: 30px;
}
@media screen and (max-width: 768px) {
  .slider {
    height: 400px;
    width: 100%;
  }

  .list img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  .buttons {
    top: 50%; /* Adjusted position for better visibility */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px; /* Added padding for better spacing */
  }

  .buttons button {
    width: 40px; /* Smaller buttons */
    height: 40px;
    font-size: 16px; /* Adjusted font size */
    box-shadow: 0 3px 8px rgba(10, 88, 202, 0.3); /* Softer shadow */
  }

  .dots {
    bottom: 5px; /* Adjusted for mobile */
  }

  .dots li {
    width: 8px;
    height: 8px;
    margin: 10px;
  }

  .dots li.active {
    width: 25px;
  }
}
